body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:500px;
  background:inherit;
  background-color:rgba(124, 179, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:7px;
  width:342px;
  height:500px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:424px;
  width:115px;
  height:54px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 10px 5px 0px rgba(0, 255, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 10px 5px 0px rgba(0, 255, 0, 0.349019607843137) inset;
  box-shadow:0px 10px 5px 0px rgba(0, 255, 0, 0.349019607843137) inset;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1.mouseOver {
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:111px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:424px;
  width:115px;
  height:54px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 10px 5px 0px rgba(51, 255, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 10px 5px 0px rgba(51, 255, 0, 0.349019607843137) inset;
  box-shadow:0px 10px 5px 0px rgba(51, 255, 0, 0.349019607843137) inset;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2.mouseOver {
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:111px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Zapfino';
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:167px;
  width:282px;
  height:110px;
  font-family:'Zapfino';
  font-weight:400;
  font-style:italic;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:90px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:22px;
  width:295px;
  height:192px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:90px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
